<%- include ('partials/header') %>
    <div class=" mt-4 px-20 flex flex-col gap-y-4 flex-wrap">
        <h1 class="text-bold"><strong>Create New Hisaab</strong></h1>
        <form action="/create" method="post" >
            <div class="pb-5">
                <input class="rounded border-2 bg-stone-100 w-80 p-1" type="text" name="heading" id=""
                    placeholder="Shopping Hisaab, Ghar Ka Kharxh..">
            </div>
            <div>
                <textarea class="rounded border-2 bg-stone-100 p-1" name="hisaab" id="" rows="10" cols="50"
                    placeholder="Daal, Aata, Cheeni.."></textarea>
            </div>
            <input class="bg-blue-500 text-white p-2 rounded cursor-pointer" type="submit" name="" id=""
                value="Create New Hisaab">
        </form>
    </div>
    <%- include ('partials/footer') %>